extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      p Hello, #{user.username}
      a(href="/logout") #{user.username}をLogout
    else
      a(href="/login") Login
  div
    p 試合開始,日本時間 #{times}
  //-
   ここに試合データ。index.jsでfixtureDone=1を取得する
   #{homeTeam} #{homeScore} - #{awayScore} #{awayTeam}
  div
    if user
      h2 コメントする
      form(method="post" action="/comments")
        div
          textarea(name="content" rows="4")
          //- input(type="hidden" name="fixtureId" value=fixtureId)←index.jsからrenderされたもの
        button(type="submit") 投稿
    else
      a(href="http:/login") ログインしてコメントしよう！
  div
    h2 投稿一覧
  //-
    fixtureIdが同じcommentを表示する
